<div class="social-pages">
	{% for page in social_pages %}
		{% if page.url|length %}
			<a href="{{ page.url }}" {{ page.title ? 'title="' ~ page.title ~ '"' }} target="_blank" rel="me" class="u-url"><i class="fa fa-2x fa-{{ page.icon }}"></i></a>
		{% endif %}
	{% endfor %}
</div>